<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>IE78 Scroll Bug - iRuxu</title>
<base target="_blank">
<meta charset="utf-8"/>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimal-ui"/>
<link rel="stylesheet" href="css/index.css" type="text/css"/>
<link rel="stylesheet" href="css/test.css" type="text/css"/>
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="js/index.js"></script>
</head>
<body>

	<h1>IE78 Scroll Bug</h1>

	<div class="header">
		<h2>STEP.</h2>
		<ul id="step">
			<li class="on">1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
			<li>8</li>
		</ul>
		<span class="next" id="next" onselectstart="return false;" unselectable="on">next</span>
	</div>

	<div class="main">
		
		{{import "module/step-1"}}
		{{import "module/step-2"}}
		{{import "module/step-3"}}
		{{import "module/step-4"}}
		{{import "module/step-5"}}
		{{import "module/step-6"}}
		{{import "module/step-7"}}
		{{import "module/step-8"}}

	</div>

	<div class="footer">
		&copy; <a href="https://github.com/iRuxu/fixbug" target="_blank">Fixbug</a> - <a href="http://iruxu.com" target="_blank">iRuxu.com</a>
	</div>

</body>
</html>